.vscode/**
.vscode-test/**
out/**
tests/**
playwright.config.js
playwright-report/**
test-results/**
scripts/webview-harness.js
node_modules/**
src/**
webview/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
