.vscode/**
.github/**
.vscode-test/**
out/**
tests/**
playwright.config.js
playwright-report/**
test-results/**
scripts/**
artifacts/**
node_modules/**
src/**
webview/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
tsconfig*.json
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
